html .sapUiSizeCompact .sapMBar,
html .sapUiSizeCompact .sapMBarLeft,
html .sapUiSizeCompact .sapMBarRight,
html .sapUiSizeCompact .sapMBarPH {
    height: 2.75rem;
    line-height: 2.75rem;
}

html .sapUiSizeCompact .mainButtons .sapMBtn {
    height: 4rem;
}

html .sapUiSizeCompact .mainButtons .sapMBtnIcon {
    line-height: 1.5rem;
    width: 1rem;
    font-size: 1rem;
    max-height: 4rem;
}

html .sapUiSizeCompact .mainButtons .sapMBtnInner {
    padding-top: 0.375rem;
    height: 4rem;
    min-width: 4rem;
}

html .appDialog .sapMPageHeader {
    display: none;
}

html .appDialog .sapMPage > .sapMPageHeader + section {
    top: 0px;
}

html .appDialog.appDialogFull > header > .sapMBar {
    background-color: #3d86f0;
}

html .appDialog.appDialogFull > header > .sapMBar .sapMBtn,
html .appDialog.appDialogFull > header > .sapMBar .sapMBtnIcon {
    color: #ffffff;
}

html .appDialog.appDialogFull > header > .sapMBar .sapMTitle {
    color: #ffffff;
}

html body .sapMDialog.appDialog.appDialogFull.sapMDialogStretched {
    top: 0px !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

html .sapMDialog.appDialog.appDialogFull header .sapMBarLeft,
html .sapMDialog.appDialog.appDialogFull header .sapMBarPH {
    padding-left: 0rem;
    padding-right: 0rem;
}

html .sapMDialog.appDialog.appDialogFull {
    transform: scale(1) translateZ(0px);
    -webkit-transform: scale(1) translateZ(0px);
    background-clip: padding-box;
    min-height: 6rem;
    outline: none;
    overflow: hidden;
    position: fixed !important;
    -webkit-transition:
        opacity 0.15s,
        left 0.2s,
        top 0.2s;
    transition:
        opacity 0.15s,
        left 0.2s,
        top 0.2s;
    border-radius: 0.25rem;
    box-shadow:
        0 0 0 0.0625rem rgba(0, 0, 0, 0.42),
        0 1.25rem 5rem 0 rgba(0, 0, 0, 0.3);
}

html .sapMDialog.appDialog.appDialogFull:not(.sapMDialogHighPixelDensity) {
    -webkit-filter: blur(0);
    filter: blur(0);
}

html .sapMDialog.appDialog.appDialogFull.sapMDialogOpen {
    /*opacity: 1 !important;
    animation: showDialog 0.25s ease-out;
    */
    animation: none !important;
    display: block;
}

html .sapMDialog.appDialog.appDialogFull:not(.sapMDialogOpen) {
    /*opacity: 1 !important;
    animation: hideDialog 0.25s ease-out;
    */
    animation: none !important;
    display: none;
}

html .sapMPageHeader.sapMIBar.sapMHeader-CTX,
html .sapMPageHeader,
html .sapMPage.mainMenuHeader {
    background-color: #3d86f0 !important;
}

html .sapMPageHeader .sapMBtnIcon,
html .sapMPageSubHeader .sapMBtnIcon,
html .sapMPageHeader .sapMBtnContent,
html .sapMPageSubHeader .sapMBtnContent {
    color: #ffffff;
}

html .sapMPageHeader .sapMTitle {
    color: #ffffff;
}

.light .sapUiIcon {
    color: #ffffff !important;
}

.dark .sapUiIcon {
    color: #333333 !important;
}

html :not(.sapMBtnDisabled) .sapMBtnBack > .sapMBtnIcon,
html .sapMHeader :not(.sapMBtnDisabled) .sapMBtnTransparent > .sapMBtnIcon,
html :not(.sapMBtnDisabled) .sapMBtnGhost > .sapMBtnIcon {
    color: #ffffff;
}

html .sapUiBodyBackground,
html .sapUiBody {
    background-color: #ffffff !important;
}

html .sapUiGlobalBackgroundColor,
html .sapMShellGlobalInnerBackground,
html .sapMShell,
html .sapMShellContent,
html .sapMShellGlobalOuterBackground,
html .sapUiGlobalBackgroundColor,
html .sapMShellGlobalInnerBackground,
html .sapUiComponentContainer .sapMIBar.sapMHeader-CTX,
html .sapMPage,
html .sapFDynamicPage .sapFDynamicPageContentWrapperStandard > .sapFDynamicPageContent,
html .sapFDynamicPage .sapFDynamicPageContentWrapperSolid > .sapFDynamicPageContent {
    background-color: transparent !important;
}

html .sapMPage .sapMPageHeader {
    height: 2.75rem;
    box-shadow: none;
}

html .sapMDialog .sapMPage .sapMPageHeader {
    height: 2.75rem;
    box-shadow: none;
}

html .sapMPage .sapMPageHeader:not(.sapMIBar-CTX):after {
    display: none;
    box-shadow: none;
}

html .sapMBar {
    box-shadow: none !important;
}

html .arcHeader {
    position: absolute;
    display: none;
    left: 0px;
    right: 0px;
    top: 0;
    height: 2.75rem;
    z-index: 1;
    background-color: #3d86f0;
}

html .arcHeader.arcHeader-dark * {
    color: #333333;
}

html .arcHeader.arcHeader-light * {
    color: #ffffff;
}

html .arcHeader > header {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
}

html .arcHeader {
    display: block;
}

html .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 1.5rem;
}

html .logoContainer > img {
    max-height: 40px;
    max-width: 80%;
}

html .arcBackground {
    position: absolute;
}

html .arcForeground {
    position: absolute;
}

html .arcHeader .sapMBar-CTX:not(.sapMBtnDisabled) > .sapMBtnInner.sapMBtnActive,
html .arcHeader :not(.sapMBtnDisabled) > .sapMBtnInner.sapMBtnActive {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #333333;
    border-radius: 50%;
}

html .appAccount .sapMPage > .sapMPageHeader + section,
html .appAccount .sapMPage > .sapMPageHeader + .sapMPageSubHeader + section {
    margin-bottom: 4.5rem;
}

html .appAccounts .sapMPage > .sapMPageHeader + section,
html .appAccounts .sapMPage > .sapMPageHeader + .sapMPageSubHeader + section {
    top: 3rem;
    padding-top: 2.5rem;
}

html .appAccount .sapMPage .sapMPageFooter {
    margin-bottom: 5rem;
}

html .arcSub {
    margin-top: -0.25rem;
}

html .arcSub .sapMBtn {
    font-size: 1rem;
}

html .arcSub .sapMBtn .sapMBtnInner {
    background-color: rgba(221, 220, 229, 0.8);
    border: none;
    color: #333333;
    border-radius: 50%;
    height: 2.2rem;
    font-size: 1.3rem;
    width: 2.2rem;
}

html .arcSub .sapMBarLeft {
    height: 3.4rem;
    padding-left: 3rem;
}

html .arcSub .sapMBarRight {
    height: 3.4rem;
    padding-right: 3rem;
}

html .arcSub .sapMBtnIcon,
html .arcSub .sapUiIcon {
    font-size: 1.2rem;
    color: #333333;
}

html .arcSub .sapMBar-CTX:not(.sapMBtnDisabled) > .sapMBtnInner.sapMBtnActive,
html .arcSub :not(.sapMBtnDisabled) > .sapMBtnInner.sapMBtnActive {
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    height: 2.2rem;
    font-size: 1.2rem;
    width: 2.2rem;
}

html .loading .arcBackground {
    animation: spin2 1s ease infinite;
}

@keyframes spin2 {
    from {
        transform: rotate(0deg) translateX(3px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(3px) rotate(-360deg);
    }
}
