@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Bold.ttf");
    font-weight: bold;
}

html .sapUiGlobalBackgroundColor,
html .sapMShellGlobalInnerBackground,
html .sapMPageBgStandard,
html .sapFDynamicPageTitle {
    background-color: #f9fafe !important;
}

html .whiteBG.sapMPageBgStandard,
html .whiteBG .sapMPageBgStandard,
html .whiteBG .sapFDynamicPageTitle {
    background-color: #fff !important;
}

.bigTitle {
    font-size: 2rem !important;
    font-weight: bold !important;
    color: #71bcf5 !important;
    margin-bottom: 0.5rem !important;
}

.contentTitle {
    font-size: 1.2rem !important;
    font-weight: bold !important;
    margin-bottom: 0.2rem !important;
}

.textBold {
    font-weight: bold !important;
}

.contentSmallTitle {
    font-size: 1rem !important;
    font-weight: bold !important;
}

.contentBox,
.containerButtonRendererInner {
    border-radius: 1rem;
    border: 1px solid #dddddd;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(39, 93, 172, 0.25);
    background-color: #fff !important;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.containerButtonRenderer .sapMText {
    font-size: 1rem;
}

.containerButtonRendererInner {
    display: flex;
    flex-direction: column;
}

.containerButtonRendererMiddle {
    display: flex;
    flex-direction: row;
}

.containerButtonRendererLeft {
}

.containerButtonRendererCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.containerButtonRendererDisabled {
    opacity: 0.5;
}

.containerButtonRendererDisabled .containerButtonRendererInner.sapMBtnActive {
    background-color: #fff !important;
}

.containerButtonRendererHeader {
    width: 100%;
    display: flex;
    align-items: center;
}

.containerButtonRendererRight {
}

.containerButtonRendererTop {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-items: center;
}

.containerButtonRenderer .sapMBtnContent {
    font-weight: bold !important;
}

.containerButtonRenderer .sapMBtnIconLeft {
    margin-right: 0.5rem !important;
    width: 3rem;
    height: 3rem;
    max-height: 3rem;
}

.containerButtonRendererInner.sapMBtnActive {
    background-color: #f9fafe !important;
}

.bigMarginBottom {
    margin-bottom: 5rem !important;
}

.contentBox img {
    width: 3rem;
    height: 3rem;
}

.contentBox img.big {
    width: 6rem;
    height: 6rem;
}

.contentBox img.logo {
    width: auto;
    height: auto;
    max-height: 10rem;
    margin-top: 1rem;
}

.box {
    background-color: #3d86f0 !important;
    border-radius: 20px;
}

.boxTitle {
    color: #ffffff !important;
    font-weight: bold !important;
}

.contentCarousel {
    border-top: 1.5px solid rgba(255, 255, 255, 0.5) !important;
}

.mainButtons {
    color: #3d86f0 !important;
}

.mainButtons img {
    margin-left: auto;
    margin-right: auto;
}

.mainButtons .sapMToggleBtnPressed:not(.sapMBtnDisabled),
.mainButtons .sapMBtn .sapMBtnInner.sapMToggleBtnPressed:not(.sapMBtnDisabled),
.mainButtons .sapMBtn .sapMBtnInner.sapMBtnActive,
.mainButtons .sapMBtn .sapMBtnInner.sapMBtnActive .sapMBtnIcon,
.mainButtons .sapMBtn .sapMBtnInner.sapMBtnActive .sapMBtnContent {
    background-color: transparent !important;
    color: #3d86f0 !important;
}

.shellTitle.sapMTitle {
    font-weight: bold;
}

body .sapMCrsl {
    background-color: transparent;
    width: auto !important;
}

body .sapMCrsl * {
    color: #ffffff;
}

body .sapMCrslBulleted > span.sapMCrslActive {
    background-color: #fff !important;
    border: 1px solid #fff !important;
}

body .sapMCrslBulleted > span {
    background-color: #fff !important;
    border: 1px solid #fff !important;
}

body .sapMCrslControlsBottom {
    background-color: transparent !important;
    border-top: none !important;
}

body .sapMTBStandard {
    border-bottom: none !important;
}

.contentBox {
    border: 1px solid #dddddd;
    border-radius: 1rem;
    padding: 1rem;
}

.contentBox .sapMTitle {
    font-weight: bold !important;
}

.mainMenuButton {
    width: 100%;
    text-align: left;
}
.mainMenuButton.sapMBtn .sapMBtnInner {
    justify-content: start !important;
}
