html .sapUiGlobalBackgroundColor,
html .sapMShellGlobalInnerBackground,
html .sapMPageBgStandard {
    background-color: #fff;
}

html .sapMPageHeader {
    z-index: 2 !important;
}

html .sapUiLocalBusyIndicator {
    display: none;
}

html .contactList {
    padding: 8px;
}

html .contactList .sapMTitle {
    color: #ffffff;
}

html .contactTitleBackground {
    background-color: #3d86f0;
    border-radius: 4px;
    margin: 4px;
    display: block;
    width: calc(100% - 8px);
}

html .contactListItem.sapMLIB {
    background-color: #e2f3fe;
    border-radius: 8px;
    margin-bottom: 12px;
}

html .sapMPanelContent:not(.sapMPanelBGTransparent) {
    border: none;
}

html .sapMPullDown {
    background-color: transparent;
    overflow: inherit;
    bottom: 1rem;
}

.mainButtons.sapMHBox {
    padding-bottom: 0.5rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #edf1fa;
}

.mainButtons .sapMBtn {
    height: 4rem;
    min-width: 4rem;
}

.mainButtons .sapMBtnInner {
    height: 4rem;
    flex-wrap: wrap;
    flex-direction: column;
    border: none;
    color: #3d86f0;
    background-color: transparent;
}

.mainButtons .sapMToggleBtnPressed:not(.sapMBtnDisabled),
.mainButtons .sapMBar-CTX:not(.sapMBtnDisabled) > .sapMBtnInner.sapMBtnActive,
.mainButtons :not(.sapMBtnDisabled) > .sapMBtnInner.sapMBtnActive {
    background-color: transparent;
}

.mainButtons .sapMToggleBtnPressed:not(.sapMBtnDisabled),
.mainButtons .sapMBtn .sapMBtnInner.sapMToggleBtnPressed:not(.sapMBtnDisabled),
.mainButtons .sapMBtn .sapMBtnInner.sapMBtnActive {
    background-color: #3d86f0;
    color: #ffffff;
}

.mainButtons .sapMBtn .sapMBtnInner.sapMBtnText .sapMBtnIcon {
    font-size: 2rem;
    /* Icon size */
    padding: 0;
    width: 100%;
    color: #3d86f0;
}

.mainButtons .sapMBtn .sapMBtnInner.sapMToggleBtnPressed:not(.sapMBtnDisabled) .sapMBtnIcon,
.mainButtons .sapMBtn .sapMBtnInner.sapMBtnActive.sapMBtnText .sapMBtnIcon,
.mainButtons .sapMBtn .sapMBtnInner.sapMBtnActive.sapMBtnText .sapMBtnContent {
    color: #ffffff;
}

html .mainButtons .sapMBtn .sapMBtnInner.sapMBtnText .sapMBtnIcon:before {
    width: 100%;
}

.mainButtons .sapMBtnContent {
    line-height: normal;
    vertical-align: bottom;
}

html .noNavArrow .sapMLIBImgNav {
    display: none;
}

html .sapUiNoContentPadding .sapUiRespGrid {
    padding: 0 !important;
}

html .sapMDialog .sapMPageHeader .sapMTitle {
    color: #333333;
}

.relationshipAvatar {
    position: absolute;
    top: -20px;
}

html .sapMPageSubHeader {
    margin-top: 7px;
}

html .sapMPageSubHeader .sapMIBar {
    background-color: transparent;
    box-shadow: none;
    margin-top: -12px;
}

html .sapMPageWithSubHeader .sapMPageSubHeader:not(.sapMIBar-CTX):after {
    display: none;
}

html .sapMPageSubHeader .sapMBtn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0px;
}

html .sapMPageSubHeader .sapMBarLeft.sapMBarContainer,
html .sapMPageSubHeader .sapMBarRight.sapMBarContainer {
    margin-top: -15px;
}

html .sapMPageSubHeader .sapMBarMiddle .sapMBarContainer img {
    margin-top: -12px !important;
}

html .sapMPageSubHeader .sapMBarContainer {
    overflow: inherit;
}

html .sapMPageSubHeader .sapMBar > .sapMBarContainer.sapMBarLeft {
    padding-left: 1.5rem;
}

html .sapMPageSubHeader .sapMBar > .sapMBarContainer.sapMBarRight {
    padding-right: 1.5rem;
}

html .sapMPageSubHeader .sapMBtn.help > .sapMBtnInner {
    background-color: #f7b232;
}

html .sapMBar-CTX.sapMBtn.help:not(.sapMBtnDisabled) > .sapMBtnInner.sapMBtnActive,
html .sapMBtn.help:not(.sapMBtnDisabled) > .sapMBtnInner.sapMBtnActive {
    background-color: #e7a222;
}

/* POPUP */

html body .sapMDialog.sapMDialogStretched {
    top: 20px !important;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

html .sapMDialog header .sapMBarLeft,
html .sapMDialog header .sapMBarPH {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

html .sapMDialog {
    transform: scale(1) translateZ(0px);
    -webkit-transform: scale(1) translateZ(0px);
    background-clip: padding-box;
    min-height: 6rem;
    outline: none;
    overflow: hidden;
    position: fixed !important;
    opacity: 0;
    -webkit-transition: opacity 0.15s, left 0.2s, top 0.2s;
    transition: opacity 0.15s, left 0.2s, top 0.2s;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 0.0625rem rgba(0, 0, 0, 0.42), 0 1.25rem 5rem 0 rgba(0, 0, 0, 0.3);
}

html .sapMDialog:not(.sapMDialogHighPixelDensity) {
    -webkit-filter: blur(0);
    filter: blur(0);
}

html .sapUiBLy {
    background-color: transparent;
}

html .sapMDialog.sapMDialogOpen {
    opacity: 1 !important;
    animation: showDialog 0.25s ease-out;
}

html .sapMDialog:not(.sapMDialogOpen) {
    opacity: 1 !important;
    animation: hideDialog 0.25s ease-out;
}

@keyframes hideDialog {
    from {
        transform: translateY(0);
        transform-origin: bottom left;
    }

    to {
        transform: translateY(20px);
        transform-origin: bottom left;
    }
}

@keyframes showDialog {
    from {
        transform: translateY(20px);
        transform-origin: bottom left;
    }

    to {
        transform: translateY(0);
        transform-origin: bottom left;
    }
}

html .sapUiNoContentPadding > div > div > .sapUiRLContainer {
    padding: 0;
}

html .sapFDynamicPageTitleWrapper.sapFDynamicPageTitleSnapped > .sapFDynamicPageTitle,
html .sapFDynamicPageTitleWrapper.sapFDynamicPageTitleOnly > .sapFDynamicPageTitle {
    box-shadow: none;
}

.sapMPullDown {
    outline: none !important;
}

.sapUiMedia-Std-Phone .sapMListNoData {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

html body .sapMDialog.sapMDialogStretched {
    top: 20px !important;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

#errors {
    position: absolute;
    bottom: 5rem;
    font-size: 10px;
}

.sapMMessageToast {
    z-index: 1000000000 !important;
}

html body .sapMDialog.profileMenu.sapMDialog.sapMDialogStretched {
    top: 0px !important;
    left: 4rem !important;
    /* bottom: 4.5rem !important; */
    transform: none;
    -webkit-transform: none;
    background-clip: padding-box;
    min-height: 6rem;
    outline: none;
    overflow: hidden;
    position: fixed !important;
    opacity: 0;
    -webkit-transition: none;
    transition: none;
    border-radius: 0rem;
    box-shadow: 0 0 0 0.0625rem rgba(0, 0, 0, 0.42), 0 1.25rem 5rem 0 rgba(0, 0, 0, 0.3);
}

html .sapMDialog.profileMenu,
html .sapMDialogprofileMenu:not(.sapMDialogOpen) {
    transform: none;
    -webkit-transform: none;

    -webkit-transition: none;
    transition: none;
    animation: slideOut 0.2s ease-out;
    animation-fill-mode: forwards;
}

html .sapMDialog.profileMenu.sapMDialogOpen {
    transform: none;
    -webkit-transform: none;

    -webkit-transition: none;
    transition: none;
    animation: slideIn 0.2s ease-out;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}
